﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Required", "ValidateRequiredFields", "Validation")</li>
        <li>@Html.ActionLink("StringLength", "ValidateStringLengthFields", "Validation")</li>
        <li>@Html.ActionLink("RegularExpression", "ValidateRegularExpressionFields", "Validation")</li>
        <li>@Html.ActionLink("DataTypeAndDisplayFormat", "DataTypeAndDisplayFormatFields", "Validation")</li>
        <li>Teste</li>
    </ul>
</div>

